<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <script type="text/javascript"> 
        // 변수 선언하고 반환값 저장
        var isStudent = confirm("당신은 학생입니까?");
        if(isStudent == true) {
            document.write("결과 : 학생입니다.");
            document.write("<br>");
            document.write("할인율 : 50%");
            // 한줄로 입력할 수도 있음
            // document.write("결과 : 학생입니다. <br> 할인율 : 50%");
        } else{
            document.write("결과 : 학생이 아닙니다.");
            document.write("<br>");
            document.write("할인율 : 없음");
        }

    </script>
</head>
<body>
</body>
</html>