<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <script type="text/javascript"> 
        var fruits = ["사과", "배", "포도"];

        fruits.forEach(function(item){
            document.write(item + "<br>");
        });

        document.write("<hr>");

        fruits.forEach(function(item, index){
            document.write(index + " " + item + "<br>");
        });

        document.write("<hr>");

        fruits.forEach(function(item, index, fruits){
            document.write(index + " " + item + " " + fruits + "<br>");
        });

        fruits.forEach(function(item, index, fruits){
				console.log(index, item,  fruits);
        });
    </script>
</head>
<body>
</body>
</html>